.main-div{
    width: 1300px;
    height: 49px;
    top: 100px;
    left: 77px;
    padding: 0px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
 }
 .mentor-switcher{
    width:824px;
    height:49px;
 }
 .switcher-div{
    width: 799px;
    height: 49px;
 }
 .tabs{
    width: 350px;
    height: 49px;
}
.tab-group{
    width: 350px;
    height: 48px;
    display: flex;
    flex-direction: row;
}


.tab {
    width: 175px;
    height: 48px;
    cursor: pointer;
 }
 .layer1{
    width: 175px;
    height: 48px;
    padding: 0px 16px;
 
}
 .active-tab{
    width: 175px;
   height: 48px; 
   cursor: pointer;
 }
  .active-tab .tab-components{
    position: relative;
  }
  .active-tab .tab-components::after{
    content: ""; 
    position: absolute; 
    bottom:-2px;
    left:0;
    width: 121px;
    height: 3px;
    background: #030080;
    border-radius:7px ;
  }
  
  .tab-components {
    width: 124px;
    height: 48px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top: 14px 0px; 
    gap:1px;
  }
  .tab-components h5{
    width: 104px;
    height: 24px;
    opacity: 0.6;
 
    font-size: 14px; 
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: black;
  }
  .tab-icon{
    width: 13px;
    height: 13px;
    padding: 3px 3px 2px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

  }
  .tab-icon span{
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    width:8px ;
    height: 16px;
  }
.frame-tab{
    width: 240px;
    height: 32px;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    
}
.filter-chip1{
   width: 114px;
   height: 32px;
   background: #F2F2F2;
   border-radius: 8px;

}
.filter-chip2{
   width: 120px;
   height: 32px;
   background: #F2F2F2;
   border-radius: 8px;
   padding: 0px 8px 0px 16px;
  
}
.state-layer1{
   width: 114px;
   height: 32px;  
   
   display: flex;
   flex-direction: row;
    gap: 8px;
   align-items: center;
   justify-content: flex-start;
   padding-left: 16px;
  
 
}
.state-layer2{
   width: 70px;
   height: 32px;
   padding-left: 16px;
   display: flex;
   flex-direction: row;
   gap: 8px;
   align-items: center;
   justify-content: space-around;
   justify-content: flex-start;
   padding-left: 16px;
  
}
.filter-select{
 
    background: transparent;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-wrapper{
   position: relative;
}
.select-wrapper::after{
   content:'▼';
   color: black;
   position: absolute;
   right:35px;
   font-size: 12px;
   
}

.select-wrapper1{
   position: relative;
}
.select-wrapper1::after{
   content:'▼';
   color: black;
   position: absolute;
   right:30px;
   font-size: 12px;
 
   
}
